@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100%;
    font-family: Nunito Sans, sans-serif;
    position: relative;
    background: #F6F9FE;

    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
}