header {
    width: 100%;
    padding: 2rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamburger {
        padding: 0 1.25rem;
        border: none;
        position: fixed;
        right: 0;
        z-index: 99;
        background: transparent;
    }

    nav {
        width: 100%;

        ul {
            list-style-type: none;

            li {
                a {
                    color: #545454;
                    text-decoration: none;

                    &.waitlist {
                        padding: .75rem;
                        border-radius: 5px;
                        font-weight: 600;
                        background: #372865;
                        color: #fff;
                    }
                }
            }

            & {
                display: none;
            }

            &.show {
                top: 0;
                right: 0;
                width: 9rem;
                height: 100%;
                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;                position: fixed;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
                backdrop-filter: blur(1rem);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        padding: 2rem 4rem;

        .hamburger {
            padding: 2rem 4rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        
        .hamburger {
            display: none;
        }

        nav {
            
            ul {
                display: flex;
                justify-content: flex-end;
                gap: 1rem;

                li {
                    a {
                        &.waitlist {
                            padding: 1rem;
                        }
                    }
                }
            }
        }
    }
}